#App{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: beige;
}
  
  .gray-background{
    background-color: darkgray;
  }
  
  .root{
    with:'100%';
    overflowX: "auto";
  }
  
  .table{
    min-width: 1080;
  }